<kendo-window
 *ngIf="showAttachmentPopup"
 (close)="onAttachmentPopupClose()"
 [minWidth]="200"
 [width]="400"
 [style.left.px]="popupPosition.x"
 [style.top.px]="popupPosition.y"
 class="app-attachment-popup">

    <kendo-window-titlebar>
        <span class="k-window-title">{{ title }}</span>
        <button kendoWindowCloseAction></button>
    </kendo-window-titlebar>   

    <div class="app-comments--container">
        <div *ngIf="myFiles.length > 0 && !showAPILoader">
            <div *ngFor="let file of myFiles; let i = index" class="app-kendo-attachment-files">
                <div (click)="downloadAttachment(i)">{{ file.name }}</div>
            </div>
        </div>
        <div class="app-disclaimer--card" *ngIf="myFiles.length == 0 && !showAPILoader">
            <div class="app-disclaimer--content">
              <h5> No Attachments Found </h5>
            </div>
        </div>
        <div class="app-screen--loader" *ngIf="showAPILoader">
            <kendo-loader
              type="converging-spinner"
              themeColor="info"
              size="medium"></kendo-loader>
            <div>Loading details...</div>
        </div>
    </div>
</kendo-window>


