/* New Stepper Styling*/
.app-screen--stepper-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.25rem;
  margin: 0.5rem;
  margin-bottom: 0rem;
  overflow-x: auto;
  white-space: nowrap;
  border-radius: 10px;
  background-color: #F1F2F6;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.app-screen--stepper-container-new {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  margin: 0;
  transition: all 0.2s ease-out;
  background-color: none;
  white-space: nowrap;
  font-family: var(--font-family-text);
  font-size: var(--text-size-01);
  font-weight: var(--font-weight-bold);
  line-height: 1.75rem;
  color: #8d8d8d;
  position: relative;
  border-radius: 10px;
}

/* Selected Stepper*/
.app-screen--stepper-container-new.selected {
  background: var(--primary-color);
  // background-color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: var(--primary-white);
  // color: #747373;
  border: none;
}


// /* Adding border between steppers with uniform margin */
// .app-screen--stepper-container-new:not(:last-child)::after {
//   content: "";
//   position: absolute;
//   right: -5px;
//   left: auto;
//   top: 20%;
//   height: 60%;
//   width: 2px;
//   background-color: #8d8d8d;
// }
// .app-screen--stepper-container-new:not(:first-child)::before {
//   content: "";
//   position: absolute;
//   left: -5px;
//   top: 20%;
//   height: 60%;
//   width: 2px;
//   background-color: #8d8d8d;
// }

/*Info Icon Styling*/
.card-selection-addition-icon{
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}
/*Info Icon Styling*/
.card-selection-info-expand-icon{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.app-enquiry-details-listview--kendo-info-card{
  border-radius: 10px;
  background: white;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
  width: 100% !important;
}
.app-info-card--content{
  font-family: var(--font-family-text);
  font-size: var(--text-size-01);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  color: #8d8d8d;
}

.app-enquiry-details-listview--cards {
  margin: 0.5rem;
}

.app-locked--container {
  position: sticky;
  top: 0rem;
  width: 100%;
  z-index: 2;
  background-color: #F8F9FE;
}
.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  height: 100vh;
  background-color: #F8F9FE
}


// .app-scrollable--container {
//   overflow-y: auto;  
//   height: calc(100% - 20%);
// }

// .app-locked--container, 
// .app-locked--sub-container {
//   overflow: hidden;
// }

.app-scrollable--container {
  overflow-y: auto;
  flex: 1;
}