<div *ngIf="!showAPILoader">
    <div class="app-navigation-main--container">
      <div (click)="onBackClickHandle()">
        <img src="assets/back.svg" kendobutton alt="back" />
      </div>
      <div class="app-navigation--header">Enquiry Details</div>
      <div (click)="onReset()">
        <img
          src="assets/reset.svg"
          kendobuttons
          alt="reset"
          class="app-navigation-reset--image" />
      </div>
    </div>
    <div>
      <div class="enquiry-details--content">
        <kendo-stepper
          [steps]="steps"
          stepType="full"
          [linear]="false"
          [(currentStep)]="currentStep"
          cssClass="enquiry-details-content--stepper"
          (stepSelect)="onStepSelect($event)">
        </kendo-stepper>
        <form class="k-form k-form-md" [formGroup]="enquiryCaptureForm">
          <app-contact-details
            *ngIf="currentStep === 0"
            [contactDetails]="currentGroup"></app-contact-details>
          <app-enquiry-details-forms
            *ngIf="currentStep === 1"
            [enquiryDetailsForms]="currentGroup"></app-enquiry-details-forms>
          <app-enquiry-description
            *ngIf="currentStep === 2"
            [enquiryDescription]="currentGroup"></app-enquiry-description>
          <app-enquiry-update
            *ngIf="currentStep === 3"
            [enqId]="enqId"
            [enquiryUpdateForm]="currentGroup"></app-enquiry-update>
        </form>
        <div class="enquiry-details--footer">
          <button
            kendobutton
            class="enquiry-details-cancel--button"
            *ngIf="currentStep === 0"
            (click)="onReset()">
            Cancel
          </button>
          <button
            kendobutton
            class="enquiry-details-cancel--button"
            *ngIf="currentStep !== 0"
            (click)="onBackClickHandle()">
            Cancel
          </button>
          <button
            kendobutton
            class="enquiry-details-save--button"
            (click)="next()"
            *ngIf="currentStep !== 3">
            Next
          </button>
          <button
            kendoButton
            class="enquiry-details-save--button"
            (click)="submit()"
            *ngIf="currentStep === 3">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="enquiry-details--loader" *ngIf="showAPILoader">
    <kendo-loader
      type="converging-spinner"
      themeColor="info"
      size="medium"></kendo-loader>
    <div>Updating enquiry....</div>
  </div>
  
