.dashboard-module-card--container {
  background: white;
  padding-bottom: 1rem;
}

.dashboard-quickLink-card--container {
  margin-top: 4rem;
  background: white;
  border-radius: 32px 32px 0 0;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.dashboard-card--title {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 1rem;
  flex: 1 0 0;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.dashboard-quickLink--container {
  display: flex;
  gap: 0.87rem;
  margin-left: 1rem;
}

.dashboard-quickLink--cards {
  padding: 1rem;
  align-items: center;
  border-radius: 0.625rem;
  background: rgba(248, 253, 255, 1);
  width: fit-content !important;
  border: none;
  // box-shadow: 1px 5px 40px 8px rgba(110, 117, 136, 0.07);
}

.dashboard-quickLink--inner-card {
  position: relative;
  display: inline-block;
}

.dashboard-quickLink--inner-color {
  width: 3.125rem;
  height: 3.125rem;
  flex-shrink: 0;
  background-color: transparent;
  color: rgba(32, 137, 156, 1);

  border-radius: 0.5rem;
}

.dashboard-quickLink-card--image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-quickLink-card--subtitle {
  color: rgba(142, 148, 154, 1);

  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.dashboard-module--container {
  display: flex;
  gap: 0.87rem;
}

.dashboard-module--cards {
  padding: 1.2rem 0rem 1.2rem 0rem;
  display: flex;
  align-items: center;
  border-radius: 0.625rem;
  background: #605ca3;
  color: rgba(32, 137, 156, 1);
  width: 101px !important;
}
.dashboard-module--label {
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(32, 137, 156, 1);
}

.modules--grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0 12px;
}

.modules--grid-container > div {
  /* Style for grid items */
  background-color: #f0f0f0; /* Example background color */
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
}
.dashboard-quickLink--cards:not(:last-child)::after {
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  background-color: rgba(92, 181, 193, 1);
  position: absolute;
  right: -10px;
  top: 0;
}
