<div class="dashboard-quickLink-card--container">
  <div class="dashboard-card--title">Quick Links</div>
  <div class="dashboard-quickLink--container">
    <ng-container *ngFor="let a of cards">
      <kendo-card
        class="dashboard-quickLink--cards"
        *ngIf="showCards(a)"
        (click)="handleCardNavigate(a)">
        <div class="dashboard-quickLink--inner-card">
          <div class="dashboard-quickLink--inner-color"></div>
          <div>
            <img
              src="assets/{{ a.image }}.svg"
              alt=""
              class="dashboard-quickLink-card--image" />
          </div>
        </div>
        <div class="dashboard-quickLink-card--subtitle">{{ a.text }}</div>
      </kendo-card>
    </ng-container>
  </div>
</div>

<div class="dashboard-module-card--container">
  <div class="dashboard-card--title">Modules</div>
  <div class="modules--grid-container">
    <kendo-card
      class="dashboard-module--cards"
      *ngFor="let b of moduleCards"
      [ngStyle]="{ background: 'rgba(235, 243, 244, 0.4)' }">
      <div><img src="assets/{{ b.image }}.svg" alt="" /></div>
      <div class="dashboard-module--label">{{ b.text }}</div>
    </kendo-card>
  </div>
</div>
