.dashboard-header--container {
  box-shadow: none;
  background-color: transparent;
  padding-top: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
}

.dashboard--title {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}
.landing-page-main {
  // height: 100vh;
  background: linear-gradient(-94.12deg, #327790 0%, #49AFCD 37.1%, #89BA82 68.05%, #A0B31D 103.1%);
}
.dashboard-logo {
  width: 1.375rem;
  height: 1.375rem;
}
.dashboard--badge-container {
  display: flex;
}
