.dashboard-header--container{
    box-shadow: none;
    background-color: #fff;
    padding-top: 1rem;
}

.dashboard--title{
    flex: 1;
    text-align: center;
    color: #23303B;
    font-family: Arial;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }



