.dashboard-header--container {
  box-shadow: none;
  background-color: transparent;
  padding-top: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
}

.dashboard--title {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}
.landing-page-main {
  background: url('../../../../../assets/landing-page-header-bckground.svg')
    no-repeat;
  background-color: #397490;
  height: 100vh;
}
.dashboard-logo {
  width: 1.375rem;
  height: 1.375rem;
}
