<div class="resetpassword-page--main-container">
  <kendo-card class="resetpassword-page--kendo-card">
    <div class="resetpassword-page--logo-img">
      <img src="assets/login-images/Group-img.svg" alt="new" />
    </div>
    <div class="resetpassword-page--title">Reset Password</div>
    <div class="resetpassword-page--form-container">
      <form [formGroup]="loginForm" class="resetpassword-page--login-form">
        <div class="resetpassword-page--formfield">
          <div class="resetpassword-page--formfield-oldpassword">
            <kendo-formfield>
              <kendo-textbox
                class="resetpassword-page--textbox"
                formControlName="oldpassword"
                #oldpassword
                required
                type="password"
                placeholder="Old Password">
                <ng-template kendoTextBoxPrefixTemplate>
                  <img
                    src="assets/login-images/password.svg"
                    alt="new"
                    class="resetpassword-page--textbox-img" />
                </ng-template>
              </kendo-textbox>
              <kendo-formerror class="resetpassword-page-kendo-form-error"
                >Old password is required</kendo-formerror
              >
            </kendo-formfield>
          </div>
          <div class="resetpassword-page--formfield-newpassword">
            <kendo-formfield>
              <kendo-textbox
                #newPassword
                placeholder="New Password"
                [clearButton]="true"
                class="resetpassword-page--textbox"
                formControlName="createpassword">
                <ng-template kendoTextBoxSuffixTemplate>
                  <button
                    kendoButton
                    look="clear"
                    [svgIcon]="eyeIcon"
                    (click)="toggleVisibility('newPassword')"></button>
                </ng-template>
                <ng-template kendoTextBoxPrefixTemplate>
                  <img
                    src="assets/login-images/password.svg"
                    alt="new"
                    class="forgotpassword-page--textbox-img" />
                  <div></div>
                </ng-template>
              </kendo-textbox>
              <kendo-formerror class="resetpassword-page-kendo-form-error"
                >New Password is required</kendo-formerror
              >
            </kendo-formfield>
          </div>
          <kendo-formfield>
            <kendo-textbox
              #confirmPassword
              placeholder="Confirm New Password"
              [clearButton]="true"
              class="resetpassword-page--textbox"
              formControlName="confirmpassword">
              <ng-template kendoTextBoxSuffixTemplate>
                <button
                  kendoButton
                  look="clear"
                  [svgIcon]="eyeIcon"
                  (click)="toggleVisibility('confirmPassword')"></button>
              </ng-template>
              <ng-template kendoTextBoxPrefixTemplate>
                <img
                  src="assets/login-images/password.svg"
                  alt="new"
                  class="resetpassword-page--textbox-img" />
                <div></div>
              </ng-template>
            </kendo-textbox>
            <kendo-formerror class="resetpassword-page-kendo-form-error"
              >Password is required</kendo-formerror
            >
          </kendo-formfield>
          <div class="resetpassword-page--forgot-link">
            Forgot your password?
          </div>
        </div>
        <div>
          <button
            kendoButton
            class="resetpassword-page--signin-button"
            [disabled]="loginForm.invalid"
            (click)="onSubmit()">
            Sign In
          </button>
        </div>
      </form>
    </div>
  </kendo-card>
</div>
