<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="service-efforts-main--container">
  <div class="app-navigation-main--container">
    <div (click)="onBackClickHandle()">
      <img
        src="assets/back.svg"
        alt="new"/>
    </div>
    <div class="app-navigation--header">Service Efforts</div>
    <div>
      <img
        src="assets/reset.svg"
        kendobuttons
        alt="reset"
        class="app-navigation-reset--image" 
        (click)="onRefresh()" />
    </div>
  </div>

    <div class="service-efforts-history--header">
      <div class="service-efforts--header">
        Effort Details - {{srid}}
      </div>
      <div class="service-efforts-date">
        {{ currentDate }}
      </div>
    </div>

    <div class="service-efforts--container" [formGroup]="serviceEffortsForm">
      <div class="service-efforts--hours">
        <div class="service-efforts--hours-content effort-hours">
          <kendo-formfield>
            <div class="service-efforts--content">
              <kendo-label class="service-efforts--label" [for]="efforthours"
                >Effort Hours</kendo-label
              >
              <kendo-textbox class="service-efforts-forms-kendo--dropdownlist"
              formControlName="efforthours"
              #efforthours>
              </kendo-textbox>
            </div>
            <kendo-formerror class="service-efforts--error-msg"
              >Effort hours is required</kendo-formerror
            >
          </kendo-formfield>
        </div>
        <div class="service-efforts--hours-content">
          <kendo-formfield>
            <div class="service-efforts--content">
              <kendo-label class="service-efforts--label" [for]="travelhours"
                >Travel Hours</kendo-label
              >
              <kendo-textbox class="service-efforts-forms-kendo--dropdownlist"
              formControlName="travelhours"
              #travelhours>
              </kendo-textbox>
            </div>
            <kendo-formerror class="service-efforts--error-msg"
              >Travel hours is required</kendo-formerror
            >
          </kendo-formfield>
        </div>
      </div>

      <kendo-formfield>
        <div class="service-efforts--content">
          <kendo-label class="service-efforts--label" [for]="effortremarks"
            >Remarks</kendo-label
          >
          <kendo-textarea
            placeholder="Type  your message here.."
            formControlName="effortremarks"
            #effortremarks
            class="service-efforts--textarea"
            [rows]="6"
            resizable="vertical"></kendo-textarea>
        </div>
        <kendo-formerror class="service-efforts--error-msg"
          >Effort remarks is required</kendo-formerror
        >
      </kendo-formfield>
    </div>

    <div class="service-efforts--footer">
      <button
        kendobutton
        class="service-efforts-cancel--button"
        (click)="onBackClickHandle()">
        Cancel
      </button>
      <button
        kendoButton
        class="service-efforts-save--button"
        (click)="submit()">
        Save
      </button>
    </div>
    
</div>
  
