.service-efforts-titlebar {
    display: flex;
    padding: 0.5rem;
    align-items: center;
  }
  .service-efforts--back-img {
    cursor: pointer;
  }
  .service-efforts--add-img{
    cursor: pointer;
    padding-bottom: 0.5rem;
  }
  .service-efforts--title {
    color: #031222;
    font-family: Arial;
    font-size: var(--text-size-3);
    font-style: normal;
    font-weight: var(--font-weight-bolder);
    line-height: 1.75rem;
    flex: 1 0 0;
  }
  .service-efforts-reset--image {
    padding-right: 0.5rem;
  }
  .service-efforts-date{
    color: #FFFFFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--font-weight-bolder);
    line-height: 1.75rem;
    padding:0.5rem;
    padding-right: 1rem;
  }
  .service-efforts-container{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    background: #EEEEEE;
    height: 2rem;
  }
  .service-efforts-history--header {
    background-color: rgb(16, 47, 63);
    display: flex;
    margin: 0rem 0rem 1rem 0rem;
  }
  .service-efforts--header {
    color: #FFFFFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--font-weight-bolder);
    line-height: 1.75rem;
    flex: 1 0 0;
    padding:0.5rem;
    padding-left: 1rem;
  }
  .service-efforts-header--tag {
    max-width: 2.5rem;
    min-height: 0.1875rem;
    flex-shrink: 0;
    border-radius: 0.1875rem;
    background: #5cb5c1;
  }
  .service-efforts--container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 1.5rem;
    gap: 1rem;
  }
  .service-efforts--footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .service-efforts-save--button {
    width: 100%;
    min-height: 3rem;
    border-radius: 0.5rem;
    background: #6eafd3;
    border: 1px solid #fff;
    box-shadow: 0px 4px 20px 0px rgba(191, 191, 191, 0.25);
    color: var(--colors-brand-white, #fff);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0175rem;
  }
  .service-efforts-cancel--button {
    width: 100%;
    min-height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid #6eafd3;
    color: #6eafd3;
    background-color: #fff;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0175rem;
  }
  .service-efforts--loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 0.5rem;
  }
  .service-calendar-listview--cards {
    margin: 1rem;
  }
  .service-calendar-listview--kendo-card {
    border-radius: 20px;
    background: var(--colors-brand-white, #fff);
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
    width: 100% !important;
  }
  .service-calendar-listview--kendo-card-header {
    display: flex;
    margin: 0.7rem 1rem;
    margin-bottom: 0.2rem;
  }
  .service-calendar-listview--kendo-card-content {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    gap: 3px;
  }
  .service-calendar-listview--kendo-card-number {
    color: var(--primary-color);
    font-family: Arial;
    font-size: var(--text-size-2);
    font-style: normal;
    font-weight: var(--font-weight-bolder);
    line-height: normal;
    flex: 1 0 0;
  }
  .service-calendar-listview--kendo-splitter {
    margin: 0 1rem;
  }
  .service-calendar-listview--kendo-card-sold-details {
    display: flex;
    gap: 1rem;
  }
  .service-calendar-listview--kendo-card-sub-title {
    color: var(--body-grey, #69727b);
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: normal;
    flex-basis: 25%;
  }
  .service-calendar-listview--kendo-card-sold {
    color: #383838;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: var(--font-weight-bolder);
    line-height: normal;
    flex-basis: 75%;
  }
  .service-calendar-listview--information-outline-card {
    border-radius: 4px;
    background: rgba(92, 181, 193, 0.12);
    margin: 0 1rem 1rem 1rem;
    display: flex;
    padding: 4px 0px 0px 4px;
  }
  .service-calendar-listview--information {
    border-radius: 6px;
    padding: 0.15rem 0 0 0;
    color: #69727b;
    font-family: Arial;
    font-size: 10px;
    font-style: normal;
    font-weight: var(--font-weight-semibold);
    margin-left: 4px;
  }
  .service-calendar-listview--vertical-splitter {
    margin-right: 1rem;
  }
  .service-calendar-listview--splitter {
    height: 40px;
    width: 0%;
  }


      .content-wrapper,
      .content-wrapper img {
        width: 750px;
        height: 250px;
      }

      .example {
        display: flex;
        justify-content: center;
      }

      .k-signature,
      .notes {
        border-color: rgba(0, 0, 0, 0.08);
        border-width: 0 1px;
        border-radius: 0;
      }

      .k-upload .k-dropzone {
        padding: 0;
      }

      .signature-wrapper {
        height: 270px;
      }

      .signature-wrapper kendo-signature {
        width: 100%;
        height: 100%;
      }

      .signature-wrapper img {
        user-select: none;
      }

      .placeholder {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      .notes {
        font-style: italic;
        border-width: 1px;
        border-bottom-width: 0;
        border-style: solid;
        padding: 1em;
      }

      #signature-fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1000; /* Ensure it overlays other content */
      }
  