.login-page--main-container{
    background: url('../../../../../assets/login-images/login-page-flow.svg') bottom 0 left 0  no-repeat,
    url('../../../../../assets/login-images/login-page-flow-bottom.svg') bottom 0 right 4rem no-repeat,
    url('../../../../../assets/login-images/login-page-flow-left-middle.svg') top 25rem left 0 no-repeat,
    url('../../../../../assets/login-images/login-page-flow-right-top.svg') top 5rem right 0 no-repeat,
    url('../../../../../assets/login-images/login-page-flow-right-bottom.svg') bottom 8rem right 0 no-repeat

}

.login-page--logo-img{
    display: flex;
    justify-content: center;
    margin: 3rem 0rem 3rem 0rem;
}

.login-page--title{
    color: #262626;
    text-align: center;
    font-family: Arial;
    font-size: var(--text-size-7);;
    font-style: normal;  
    font-weight: var( --font-weight-bolder);
    line-height: normal;
    margin-bottom: 2rem;
}
.login-page--kendo-card{
    width: 100% !important;
    border: none;
    height: 100vh;
    background-color: transparent !important;
}
.login-page--formfield-user{
    margin-bottom: 32px;
}
.login-page--textbox{
  
    min-height: 50px;
    background: var(--colors-brand-white, #FFF);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.10);
    border-radius: 0%;
}

.login-page--textbox ::ng-deep input::placeholder {
    color: #C8C8C8;
    font-family: var( --font-family-lato);
    font-size: var(--text-size-01);
    font-style: normal;
    line-height: normal;
}


.login-page--form-container{
    margin: 0 39px;
}
.login-page--formfield{
    margin-bottom: 1.4rem;
}
.login-page--user-img{
    margin-left: 4px;
}
.login-page--profile-img{
    margin: 0 6px 0 8px;
}

.login-page-kendo-form-error{
    font-size: arial;
    font-style: normal;
    font-family: var( --font-family-lato);
    
}
.login-page--forgot-link{
    color: #BEBEBE;
    font-family: var( --font-family-lato);
    font-size: var(--text-size-01);
    font-style: normal;
    font-weight: var( --font-weight-normal);
    line-height: normal;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
    cursor:pointer;
    text-decoration: none;

}

.login-page--signin-button{
    color: #0F0F0F;
    border-radius: 6px;
    min-height: 55px;
    background: #6EAFD3;
    text-align: center;
    width: 100%;
    font-family: var( --font-family-lato);
    font-size: var(--text-size-2);;
    font-style: normal;
    font-weight: var( --font-weight-bolder);
    line-height: 27px; 
    letter-spacing: 0.28px;
    box-shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02), 0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03), 0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04);
    border-color: transparent;
    cursor: pointer;
}
.login-page--user-field{
    margin-bottom: 1rem;
}
.login-page--login-form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 270px);
}
    
    
    
   
    
  
   
 
 
    