.enquiry-details-header {
  color: #031222;
  font-family: Arial;
  font-size: var(--text-size-3);
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: 1.75rem;
  flex: 1 0 0;
}
.enquiry-details-main-container {
  display: flex;
  padding: 0.5rem;
  align-items: center;
}
.enquiry-details-reset-image {
  padding-right: 1rem;
}
.enquiry-details-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.enquiry-details-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.enquiry-details-cancel-button {
  width: 100%;
  min-height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #6eafd3;
  color: #6eafd3;
  background-color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0175rem;
}
.enquiry-details-step-label {
  color: var(--function-font, #031222);
  text-align: center;
  font-family: Arial;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem; /* 120% */
  letter-spacing: 0.0375rem;
  text-transform: capitalize;
}
.enquiry-details-save-button {
  width: 100%;
  min-height: 3rem;
  border-radius: 0.5rem;
  background: #6eafd3;
  border: 1px solid #fff;
  box-shadow: 0px 4px 20px 0px rgba(191, 191, 191, 0.25);
  color: var(--colors-brand-white, #fff);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0175rem;
}
.k-stepper .k-step-label .k-step-text {
  text-align: center;
  font-family: Arial;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem; /* 120% */
  letter-spacing: 0.0375rem;
  text-transform: capitalize;
  overflow: auto;
  text-wrap: wrap;
}
.enquiry-details--loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 0.5rem;
}
