<div class="app-container">
  <div class="app-locked--container">
    <div class="app-navigation-main--container">
      <div>
        <img src="assets/content/images/back.svg" kendobutton alt="back" 
        (click)="onBackClickHandle()"/>
      </div>
      <div class="app-navigation--header">Sales Parts Management</div>
      <div (click)="onReset()">
        <img
          src="assets/content/images/reset.svg"        
          kendobuttons
          alt="reset"
          class="app-navigation-reset--image"/>
      </div>
    </div>
    <div class="app-screen--header">
      Supplier List
    </div>
  </div>

  <div class="app-scrollable--container" *ngIf="!showSPMAPILoader">  
    <div *ngFor="let a of supplierCards" class="app-enquiry-details-listview--cards">
        <kendo-card class="app-enquiry-details-listview--kendo-card">
              <div class="app-enquiry-details-listview--kendo-card-header">
                <div class="app-enquiry-details-listview--kendo-card-number" style="font-size: var(--text-size-1);">
                  {{ a.supplierName }}
                </div>
                <div>
                  <img
                    src="assets/content/images/edit.svg"
                    alt="new"
                    (click)="navigateById(a.supplierId)" />
                </div>
              </div>
        
              <div class="app-enquiry-details-listview--kendo-splitter">
                <kendo-splitter orientation="horizontal"></kendo-splitter>
              </div>
        
              <div class="app-enquiry-details-listview--kendo-card-content">
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    Remarks
                  </div>
                  <div *ngIf="a.remarks" class="app-enquiry-details-listview--kendo-card-sold">
                    <ng-container *ngFor="let remarks of a.remarksMessage">
                      By {{ remarks.author }} <br/> 
                      {{ remarks.timestamp }} <br/>
                      {{ remarks.content }} <br/>
                      <br/>
                    </ng-container> 
                  </div>
                </div>
                <div class="app-enquiry-details-listview--kendo-card-sold-details" style="align-items: center;">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    Attachment
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold">
                    <img src="assets/content/images/app-paper-clip.svg" alt="CE" 
                    width="20" height="20" 
                    (click)="onClickSuppAttachment(a.supplierDocId, commonService.docSrcTypeSuppAttachment, a.attachmentGuId? a.attachmentGuId: '', $event)"/> 
                  </div>
                </div>
              </div>
        </kendo-card>     
    </div>

    <app-attachment-pop-up 
      [showAttachmentPopup]="showSuppAttachment"
      (attachmentPopupClose)="onCloseAttachmentPopup()"
      title = "Supplier Attachments"
      [attachmentPopupDetails]="attachmentPopupDetails">
    </app-attachment-pop-up>
  </div>
  
  <div class="app-screen--loader" *ngIf="showSPMAPILoader">
    <kendo-loader
      type="converging-spinner"
      themeColor="info"
      size="medium"></kendo-loader>
    <div>Loading Supplier details...</div>
  </div>
</div>