<div>
    <div class="app-navigation-main--container">
        <div>
        <img src="assets/worksheet-back.svg" kendobutton alt="back" 
        (click)="onBackClickHandle()"/>
        </div>
        <div class="app-navigation--header">Sales Parts Management</div>
        <div>
        <img
            src="assets/worksheet-reset.svg"
            kendobuttons
            alt="reset"
            class="app-navigation-reset--image" 
            (click)="onReset()"/>
        </div>
    </div>

    <div class="app-screen--header">
        Price Validation
    </div>

    <div *ngIf="filteredCards.length > 0 && !showSPMAPILoader" class="app-details--container">
        <div class="app-enquiry-details-listview--searchbox">
          <kendo-textbox
            [(ngModel)]="searchTerm"
            (ngModelChange)="filterData()"
            placeholder="Search"
            class="app-enquiry-details-listview--kendo-textbox">
            <ng-template kendoTextBoxPrefixTemplate>
              <img
                src="assets/enquiry-details-listview-img/search.svg/"
                alt="new"
                class="app-enquiry-details-listview--search-icon" />
            </ng-template>
          </kendo-textbox>
        </div>

        <div *ngFor="let a of filteredCards" class="app-enquiry-details-listview--cards">
            <kendo-card class="app-enquiry-details-listview--kendo-card">
              <div class="app-enquiry-details-listview--kendo-card-header">
                <div class="app-enquiry-details-listview--kendo-card-number">
                  {{ a.leadNo }}
                </div>
                <div>
                  <img
                    src="assets/enquiry-details-listview-img/edit.svg"
                    alt="new"
                    (click)="navigateById(a.enqId)" />
                </div>
              </div>
        
              <div class="app-enquiry-details-listview--kendo-splitter">
                <kendo-splitter orientation="horizontal"></kendo-splitter>
              </div>
        
              <div class="app-enquiry-details-listview--kendo-card-content">
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    UEU
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold">
                    {{ a.customer }}
                  </div>
                </div>
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    Region
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold">
                    {{ a.region }}
                  </div>
                </div>
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    Sales Person
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold">
                    {{ a.salesPerson }}
                  </div>
                </div>
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    Sales Channel
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold">
                    {{ a.salesChannel }}
                  </div>
                </div>
              </div>
            </kendo-card>
        </div>

        <div class="app-enquiry-details-listview--kendo-pager">
            <kendo-datapager
              class="app-enquiry-details-listview--kendo-datapager"
              [pageSize]="pageSize"
              [skip]="skip"
              [total]="contactCards.length"
              (pageChange)="onPageChange($event)">
            </kendo-datapager>
        </div>
    </div>

    <div *ngIf="filteredCards.length === 0 && !showSPMAPILoader" class="app-disclaimer--card">
      <div class="app-disclaimer--content">
        <h5> No parts pending for price validation </h5>
      </div>
    </div>
</div>

<div class="app-screen--loader" *ngIf="showSPMAPILoader">
    <kendo-loader
      type="converging-spinner"
      themeColor="info"
      size="medium"></kendo-loader>
    <div>Loading details...</div>
</div>

