<div *ngIf="!showAPILoader">
  <div class="app-navigation-main--container">
    <div>
        <img src="assets/worksheet-back.svg" kendobutton alt="back" 
        (click)="onBackClickHandle()"/>
    </div>
    <div class="app-navigation--header">Worksheet</div>
    <div>
      <img
          src="assets/worksheet-reset.svg"
          kendobuttons
          alt="reset"
          class="app-navigation-reset--image" 
          (click)="onReset()"/>
    </div>
  </div>
  <div [formGroup]="WorksheetApprovalForm">
    <div class="app-screen--content">
      <!-- <kendo-stepper
           [steps]="steps"
           stepType="full"
           [(currentStep)]="currentStep"
           [linear]="false">
           </kendo-stepper> -->
      <div class="app-screen--stepper">
          <div class="app-screen--stepper-container"
              (click)="onCreditExposureClick()" [ngClass]="{'selected': isCreditExposureSelected}">
            <!-- <div class="worksheet-approval-stepper-image">
              <img src="assets/worksheet-approval-credit-icon.svg"
              alt="CE"/>
            </div> -->
            <div class="app-screen--stepper-container-content"> Credit Exposure </div>
          </div>
          <div class="app-screen--stepper-container"
              (click)="onPriceDetailsClick()" [ngClass]="{'selected': isPriceDetailsSelected}">
            <!-- <div class="worksheet-approval-stepper-image">
              <img src="assets/worksheet-approval-price-icon.svg"
              alt="CE"/>
            </div> -->
            <div class="app-screen--stepper-container-content"> Price Details </div>
          </div>
      </div>
      <form class="k-form k-form-md worksheet-approval-container">
          <div *ngFor="let a of worksheetDetailsCard" class="app-enquiry-details-listview--cards">
            <kendo-card class="app-enquiry-details-listview--kendo-card">    
              <div class="app-enquiry-details-listview--kendo-card-content">
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    Deal
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold ">
                    {{a.leadNo}}
                  </div>
                </div>
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                    <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    UEU
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold ">
                    {{a.customerName}}
                  </div>
                </div>
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    Sales Channel
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold ">
                    {{enquiryDetailsCard[0].salesChannel}}
                  </div>
                </div>
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    AM
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold ">
                    {{enquiryDetailsCard[0].salesExecutive}}
                  </div>
                </div>
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    Deal Status
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold ">
                    {{a.leadStatus}}
                  </div>
                </div>
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    DRQ Status
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold">
                    <span  style="color:white" 
                    [style.background-color]="drqStatusBgColor(enquiryDetailsCard[0].drqStatus)">
                      &nbsp;{{enquiryDetailsCard[0].drqStatus == "NA"? "":enquiryDetailsCard[0].drqStatus}}&nbsp;
                    </span>
                  </div>
                </div>
              </div>
            </kendo-card>
          </div>
          <div *ngIf="currentStep == 0" class="app-enquiry-details-listview--cards">
            <kendo-card *ngFor="let a of worksheetDetailsCard" class="app-enquiry-details-listview--kendo-card">    
              <div class="app-enquiry-details-listview--kendo-card-content">
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                    Quote Name
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold ">
                    {{WorksheetPrerequisites[0].quoteCompanyName == null? "-": WorksheetPrerequisites[0].quoteCompanyName}}
                  </div>
                </div>
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                      Quote Curr.
                  </div>
                  <div class="app-enquiry-details-listview--kendo-card-sold ">
                    {{WorksheetPrerequisites[0].quoteCurrencyName == null? "-":WorksheetPrerequisites[0].quoteCurrencyName}}
                  </div>
                </div>
                <div *ngIf=a.isDutyChangeAllowed class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                      Duty?
                  </div>
                  <div *ngIf=!a.isDutyFree class="app-enquiry-details-listview--kendo-card-sold ">
                      Paid
                  </div>
                  <div *ngIf=a.isDutyFree class="app-enquiry-details-listview--kendo-card-sold ">
                      Free
                  </div>
                </div>
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                      Disc. Level
                  </div>
                  <div *ngIf=a.isLeadLevelDiscount class="app-enquiry-details-listview--kendo-card-sold worksheet-details-listview--kendo-card-info-radio-button">
                      Quote
                  </div>
                  <div *ngIf=a.isProductLevelDiscount class="app-enquiry-details-listview--kendo-card-sold worksheet-details-listview--kendo-card-info-radio-button">
                      Product
                  </div>
                  <div *ngIf=a.isItemLevelDiscount class="app-enquiry-details-listview--kendo-card-sold worksheet-details-listview--kendo-card-info-radio-button">
                      Item
                  </div>
                </div>
                <div class="app-enquiry-details-listview--kendo-card-sold-details">
                  <div class="app-enquiry-details-listview--kendo-card-sub-title">
                      Disc. Type
                  </div>
                  <div *ngIf=a.isFlatAmount class="app-enquiry-details-listview--kendo-card-sold ">
                    Amt
                  </div>
                  <div *ngIf=!a.isFlatAmount class="app-enquiry-details-listview--kendo-card-sold ">
                    Amt
                  </div>
                </div>
              </div>
            </kendo-card>
          </div>
          <app-credit-exposure
            *ngIf="currentStep === 0" [gridData]="gridData" [worksheetDetailsCard]="worksheetDetailsCard"
            [WorksheetPrerequisites]="WorksheetPrerequisites"></app-credit-exposure>
          <app-price-details
            *ngIf="currentStep === 1" [priceDetails]="currentGroup" [worksheetDetailsCard]="worksheetDetailsCard"
            [WorksheetPrerequisites]="WorksheetPrerequisites"></app-price-details>
      </form>
    </div>
  </div>
  <div class="app-screen--footer"
  *ngIf="currentStep !== 0">
    <button
      kendobutton
      class="app-save--button worksheet-approval-button"
      (click)="saveWorksheet()">
      Save
    </button>
    <button
      *ngIf="worksheetDetailsCard[0].isAccessWSApproval"
      kendobutton
      class="app-save--button app-approval-button"
      (click)="approveWorksheet()">
      Approve
    </button>
    <button
      *ngIf="worksheetDetailsCard[0].isAccessWSApproval"
      kendobutton
      class="app-save--button app-reject-button"
      (click)="rejectWorksheet()">
      Reject
    </button>
    <button
      kendobutton
      class="app-cancel--button"
      (click)="onBackClickHandle()">
      Cancel
    </button>
  </div>
</div>
<div class="app-screen--loader" *ngIf="showAPILoader">
  <kendo-loader
    type="converging-spinner"
    themeColor="info"
    size="medium"></kendo-loader>
  <div>{{loaderMessage}}</div>
</div>
  

