<div class="contact-details--header">
  Contact Details
  <div class="contact-details--header-tag"></div>
</div>
<div
  class="contact-details--container"
  [formGroup]="contactDetails"
  *ngIf="!showContactAPILoader">
  <kendo-formfield>
    <div class="contact-details--content">
      <kendo-label class="contact-details--label" [for]="soldtocontact"
        >Sold To Contact</kendo-label
      >
      <kendo-dropdownlist
        class="contact-details--kendo-dropdownlist"
        formControlName="soldToContact"
        #soldtocontact
        [data]="soldToContact"
        textField="contactName"
        valueField="contactID"
        [filterable]="true"
        [valuePrimitive]="true"
        (selectionChange)="handleSoldToContactChanged($event)"
        (filterChange)="handleSoldToContactFilter($event)"
        required></kendo-dropdownlist>
    </div>
    <kendo-formerror class="contact-details--error-msg"
      >Sold to contact is required</kendo-formerror
    >
  </kendo-formfield>
  <kendo-formfield>
    <div class="contact-details--content">
      <kendo-label class="contact-details--label" [for]="soldtosite"
        >Sold To Site</kendo-label
      >
      <kendo-dropdownlist
        class="contact-details--kendo-dropdownlist"
        formControlName="soldToSite"
        #soldtosite
        textField="leSiteName"
        valueField="leSiteID"
        [data]="soldToSite"
        [valuePrimitive]="true"
        (selectionChange)="handleSoldToSiteChanged($event)"
        required></kendo-dropdownlist>
    </div>
    <kendo-formerror class="contact-details--error-msg"
      >Sold to site is required</kendo-formerror
    >
  </kendo-formfield>
  <kendo-formfield>
    <div>
      <kendo-label class="contact-details--label" [for]="soldtole"
        >Sold To LE</kendo-label
      >
      <kendo-textbox
        class="contact-details--kendo-textbox"
        formControlName="soldToLE"
        #soldtole
        textField="comboName"
        [valuePrimitive]="true"
        required></kendo-textbox>
    </div>
    <kendo-formerror class="contact-details--error-msg"
      >Sold to LE is required</kendo-formerror
    >
  </kendo-formfield>
  <kendo-formfield>
    <div class="contact-details--content">
      <kendo-label class="contact-details--label" [for]="region"
        >Region</kendo-label
      >
      <kendo-textbox
        class="contact-details--kendo-textbox"
        formControlName="region"
        #region
        [valuePrimitive]="true"></kendo-textbox>
    </div>
    <kendo-formerror class="contact-details--error-msg"
      >Region is required</kendo-formerror
    >
  </kendo-formfield>
</div>
<div class="contact-details--loader" *ngIf="showContactAPILoader">
  <kendo-loader
    type="converging-spinner"
    themeColor="info"
    size="medium"></kendo-loader>
  <div>Loading contact details....</div>
</div>