<div class="app-screen--info-header-right">
  <img src="assets/common/color-pallete-white.svg" alt="->" width="20" height="20"    
    kendoPopoverAnchor
    [popover]="notificationColorPopover"      
    (click)="closePopover(0)"
    showOn="click"/>
  
  <kendo-popover
    class="kendo-popover"
    #notificationColorPopover
    position="left"
    [width]="popoverWidth"
    [callout]="true">
    
    <ng-template kendoPopoverTitleTemplate>
      <div class="kendo-popover-title-wrapper">
        <span class="kendo-popover-title">Color Signification</span>
        <span class="kendo-popover-title" (click)="closePopover(0)"> &times; </span>
      </div>
    </ng-template>

    <ng-template kendoPopoverBodyTemplate>
      <ul class="item-list">
        <li *ngFor="let item of data" class="item-box">
          <div class="color-box" [style.background-color]="item.color"></div>
          <strong>{{ item.name }}</strong>
        </li>
      </ul>
    </ng-template>

  </kendo-popover>
</div>
