.worksheet--header-button {
    background: var(--terinary-color);
    color: white;
    margin: 0.25rem;
    margin-right:1rem;
    border-radius: 5px;
  }
  .enquiry-details-interations--button {
    background-color: rgb(16, 47, 63);
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--font-weight-bolder);
    line-height: 1.75rem;
    color: white;
    margin: 0.5rem;
    margin-right:1rem;
    border-radius: 5px;
  }
  .enquiry-details-history--header {
    background-color: rgb(16, 47, 63);
    display: flex;
    margin: 0rem 0rem 0rem 0rem;
  }
  .enquiry-update--header {
    color: #FFFFFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--font-weight-bolder);
    line-height: 1.75rem;
    flex: 1 0 0;
    padding:0.5rem;
    padding-left: 1rem;
  }