.service-calendar--back-img {
  cursor: pointer;
}
.service-calendar--front-img {
  cursor: pointer;
  transform: rotate(180deg);
  padding-top: 0.25rem;
}
.service-calendar-date{
  padding-bottom: 0.25rem;
  color: #FFFFFF;
}
.service-calendar-container{
  display: flex;
  padding: 0.25rem;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-color);;
  height: 2rem;
  margin-bottom: 0.3rem;
}
.service-calendar-date-container{
  display: flex;
  align-items: center;
}
.service-kendo-calendar-pop-up-icon{
  padding-left: 1rem;
}
.service-kendo-calendar-pop-up{
  display: flex;
  align-items: flex-end;
  position: fixed;
  top: 7rem;
  left: 1rem;
  right: 0;
  z-index: 1000; 
}