.my-calendar-titlebar {
    display: flex;
    padding: 0.5rem;
    align-items: center;
  }
  .my-calendar--back-img {
    cursor: pointer;
  }
  .my-calendar--title {
    color: #031222;
    font-family: Arial;
    font-size: var(--text-size-3);
    font-style: normal;
    font-weight: var(--font-weight-bolder);
    line-height: 1.75rem;
    flex: 1 0 0;
  }
  .my-calendar-reset--image {
    padding-right: 0.5rem;
  }
  .service-calendar--back-img {
    cursor: pointer;
  }
  .service-calendar--front-img {
    cursor: pointer;
    transform: rotate(180deg);
    padding-top: 0.25rem;
  }
  .service-calendar-date{
    padding: 0.5rem;
    color: #FFFFFF;
  }
  .service-calendar-container{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    background: rgb(16, 47, 63);;
    height: 2rem;
  }
  .service-calendar-date-container{
    display: flex;
    padding: 0.5rem;
    align-items: center;
  }
  .service-kendo-calendar-pop-up-icon{
    padding-left: 1rem;
  }
  .service-kendo-calendar-pop-up{
    display: flex;
    align-items: flex-end;
    position: fixed;
    top: 7rem; /* Position at the top of the screen */
    left: 1rem; /* Align to the left */
    right: 0; /* Take full width */
    z-index: 1000; 
  }
  
  .service-calendar-history--header {
    display: flex;
    margin: 0.5rem 0rem 1rem 0rem;
  }
  .service-calendar--header {
    color: #031222;
    font-family: Arial;
    font-size: var(--text-size-1);
    font-style: normal;
    font-weight: var(--font-weight-bolder);
    line-height: 1.75rem;
    flex: 1 0 0;
  }
  .service-calendar-header--tag {
    max-width: 2.5rem;
    min-height: 0.1875rem;
    flex-shrink: 0;
    border-radius: 0.1875rem;
    background: #5cb5c1;
  }
  
  .service-calendar-listview--cards {
    margin: 1rem;
  }
  .service-calendar-listview--kendo-card {
    border-radius: 20px;
    background: var(--colors-brand-white, #fff);
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
    width: 100% !important;
  }
  .service-calendar-listview--kendo-card-header {
    display: flex;
    margin: 0.7rem 1rem;
    margin-bottom: 0.2rem;
  }
  .service-calendar-listview--kendo-card-content {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    gap: 3px;
  }
  .service-calendar-listview--kendo-card-number {
    color: var(--primary-color);
    font-family: Arial;
    font-size: var(--text-size-2);
    font-style: normal;
    font-weight: var(--font-weight-bolder);
    line-height: normal;
    flex: 1 0 0;
  }
  .service-calendar-listview--kendo-splitter {
    margin: 0 1rem;
  }
  .service-calendar-listview--kendo-card-sold-details {
    display: flex;
    gap: 1.5rem;
  }
  .service-calendar-listview--kendo-card-sub-title {
    color: var(--body-grey, #69727b);
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: normal;
    flex-basis: 25%;
  }
  .service-calendar-listview--kendo-card-sold {
    color: #383838;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: var(--font-weight-bolder);
    line-height: normal;
    flex-basis: 75%;
  }
  .service-calendar-listview--information-outline-card {
    border-radius: 4px;
    background: rgba(92, 181, 193, 0.12);
    margin: 0 1rem 1rem 1rem;
    display: flex;
    padding: 4px 0px 0px 4px;
  }
  .service-calendar-listview--information {
    border-radius: 6px;
    padding: 0.15rem 0 0 0;
    color: #69727b;
    font-family: Arial;
    font-size: 10px;
    font-style: normal;
    font-weight: var(--font-weight-semibold);
    margin-left: 4px;
  }
  
  .service-calendar-listview--vertical-splitter {
    margin-right: 1rem;
  }
  .service-calendar-listview--splitter {
    height: 40px;
    width: 0%;
  }
  .service-calendar-disclaimer--card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
  .service-calendar-disclaimer--content{
    color: #383838;
    font-family: Arial;
    font-size: 1rem;
    font-style: normal;
  }