<div class="app-locked--container">
    <div class="app-screen--header">
      Parts Required
    </div>
  </div>
  <div class="app-kendo-form--container"
    [formGroup]="partsRequiredDetails"
    *ngIf="!showAPILoader">
    <kendo-formfield>
      <div class="app-kendo--content-horizontal">
        <kendo-label class="app-kendo--label app-kendo--label-horizontal" [for]="partsRequired">
            Parts Required
        </kendo-label>
        <kendo-checkbox class="app-kendo--checkbox"
          formControlName="partsRequired"
          #partsRequired>
        </kendo-checkbox>
      </div>
      <kendo-formerror class="app-kendo--error-msg"
        >Parts required checkbox is required</kendo-formerror
      >
    </kendo-formfield>

    <kendo-formfield>
        <div class="app-kendo--content">
          <kendo-label
            class="app-kendo--label"
            [for]="partsRequiredHoldRemarks"
            >Parts Required Hold Remarks</kendo-label>
          <kendo-textarea
            class="app-kendo--textarea"
            placeholder="Type  your message here.."
            formControlName="partsRequiredHoldRemarks"
            #partsRequiredHoldRemarks
            [rows]="6"
            resizable="vertical"></kendo-textarea>
        </div>
        <kendo-formerror class="app-kendo--error-msg">Parts required hold remarks is required</kendo-formerror>
    </kendo-formfield>
  </div>
  <div class="app-screen--loader" *ngIf="showAPILoader">
    <kendo-loader
      type="converging-spinner"
      themeColor="info"
      size="medium"></kendo-loader>
    <div>Loading hold details....</div>
</div>