.enquiry-details-forms--container{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 1.5rem;
    gap: 1rem;
}
.enquiry-details-forms--header{
    color: var(--function-font, #031222);
    font-family: var( --font-family-text);
    font-size: var( --text-size-1);
    font-style: normal;
    font-weight: 00;
    line-height: 1.125rem; /* 112.5% */
    letter-spacing: 0.06rem;
    text-transform: capitalize;
    margin: 1rem 0 1rem 1.5rem;
}
.enquiry-details-forms--content{
    display: flex;
    min-width: 100%;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.5rem;
}
.enquiry-details-forms-kendo--dropdownlist{
    border-radius: var(--Corners, 0.50rem);
    border: 1px solid #5CB5C1;
    background: var(--colors-brand-white, #FFF);
    min-height: 39px;
}
.enquiry-details-forms-header--tag{
    max-width: 2.5rem;
    min-height: 0.1875rem;
    flex-shrink: 0;
    border-radius: 0.1875rem;
    background: #5CB5C1;
}
.enquiry-details-forms--label{
    display: flex;
    margin: -0.1rem;
    color: var(--colors-brand-black, #1C1B1B);
    font-family: Arial;
    font-size: var(--text-size-01);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
    letter-spacing: 0.00438rem;
}
.enquiry-details-forms--subcontent{
    display: flex;
    width: 100%;
    gap: 0.5rem;
}
.enquiry-details-forms--error-msg{
    font-size: var(--text-size-02);
    font-style: normal;
    font-family: Arial;
}
.contact-details--loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }