<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
  <div class="app-navigation-main--container">
    <div (click)="onBackClick()">
      <img
        src="assets/back.svg"
        alt="new"/>
    </div>
    <div class="app-navigation--header">
      Previous Interactions
    </div>
    <div (click)="onReset()">
      <img
        src="assets/reset.svg"
        kendobuttons
        alt="reset"
        class="app-navigation-reset--image" />
    </div>
  </div>

  <div class="app-screen--header">Enquiry - {{ id }}</div>

  <div *ngIf="filteredCards.length > 0" class="enquiry-details-listview-container">
    <div *ngFor="let a of filteredCards" class="enquiry-details-listview--cards">
      <kendo-card class="enquiry-details-listview--kendo-card">
        <div class="enquiry-details-listview--kendo-card-header">
          <div class="enquiry-details-listview--kendo-card-number">
            {{ a?.remarks }}
          </div>
        </div>
        <div class="enquiry-details-listview--kendo-splitter">
          <kendo-splitter orientation="horizontal"></kendo-splitter>
        </div>
        <div class="enquiry-details-listview--kendo-card-content">

          <div class="enquiry-details-listview--kendo-card-sold-details">
            <div class="enquiry-details-listview--kendo-card-sub-title">
                  Updated Date
            </div>
            <div class="enquiry-details-listview--kendo-card-sold">
                  {{ a.updDate }}
            </div>
          </div>
          <div class="enquiry-details-listview--kendo-card-sold-details">
            <div class="enquiry-details-listview--kendo-card-sub-title">
                  Mode of Contact
            </div>
            <div class="enquiry-details-listview--kendo-card-sold">
                  {{ a.modeOfContact }}
            </div>
          </div>  
          <div class="enquiry-details-listview--kendo-card-sold-details">
            <div class="enquiry-details-listview--kendo-card-sub-title">
              Updated By
            </div>
          <div class="enquiry-details-listview--kendo-card-sold">
            {{ a.updatedBy }}
          </div>
        </div>
        </div>
        
      </kendo-card>
    </div>

    <div class="enquiry-details-listview--kendo-pager">
      <kendo-datapager
        class="enquiry-details-listview--kendo-datapager"
        [pageSize]="pageSize"
        [skip]="skip"
        [total]="contactCards.length"
        (pageChange)="onPageChange($event)">
      </kendo-datapager>
    </div>
  </div>

  <div *ngIf="filteredCards.length === 0" class="app-disclaimer--card">
    <div class="app-disclaimer--content">
      <h5> No previous interactions </h5>
    </div>
  </div>
