.enquiry-details-listview-titlebar {
  display: flex;
  margin: 1rem 0;
}
.enquiry-details-listview--back-img {
  padding-top: 2px;
  margin-left: 8px;
  cursor: pointer;
}
.enquiry-details-listview--title {
  color: #031222;
  font-family: Arial;
  font-size: var(--text-size-2);
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: 28px; /* 155.556% */
  padding-top: 8px;
  flex: 1 1 0;
  margin-left: 4px;
}
.enquiry-details-listview--refresh-icon {
  padding-top: 10px;
  padding-right: 1rem;
  cursor: pointer;
}

.enquiry-details-listview--kendo-textbox {
  border-radius: 19.5px;
  background: var(--neutral-4, #f2f2f2);
  color: var(--neutral-1, #343434);
  font-family: Arial;
  font-size: var(--text-size-1);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 24px; /* 150% */
}

.enquiry-details-listview--sub-title {
  color: var(--primary-black, #1f1f1f);
  font-family: Arial;
  font-size: var(--text-size-2);
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: normal;
  margin: 1rem 1rem 0 1rem;
}
.enquiry-details-listview--cards {
  margin: 1rem;
}
.enquiry-details-listview--kendo-card {
  border-radius: 20px;
  background: var(--colors-brand-white, #fff);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
  width: 100% !important;
}
.enquiry-details-listview--kendo-card-header {
  display: flex;
  margin: 0.7rem 1rem;
  margin-bottom: 0.2rem;
}
.enquiry-details-listview--kendo-card-content {
   display: flex;
  margin: 1rem;
  flex-direction: column;
  gap: 3px;
}
.enquiry-details-listview--kendo-card-number {
  color: var(--primary-color);
  font-family: Arial;
  font-size: var(--text-size-01);
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: normal;
  flex: 1 0 0;
  white-space: pre-line;
}
.enquiry-details-listview--kendo-splitter {
  margin: 0 1rem;
}
.enquiry-details-listview--kendo-card-sold-details {
  display: flex;
  gap: 1rem;
}
.enquiry-details-listview--kendo-card-sub-title {
  color: var(--body-grey, #69727b);
  font-family: Arial;
  font-size: 10px;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: normal;
  flex-basis: 25%;
}
.enquiry-details-listview--kendo-card-sold {
  color: #383838;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: normal;
}
.enquiry-details-listview--information-outline-card {
  border-radius: 4px;
  background: rgba(92, 181, 193, 0.12);
  margin: 0 1rem 1rem 1rem;
  display: flex;
  padding: 4px 0px 0px 4px;
}

.enquiry-details-listview--vertical-splitter {
  margin-right: 1rem;
}
.enquiry-details-listview--splitter {
  height: 40px;
  width: 0%;
}
.enquiry-details-listview--kendo-pager {
  margin: 0 1rem;
}
.enquiry-details-listview--kendo-datapager {
  margin-left: 3rem;
  color: #6eafd3;
  border: 0px;
  background-color: white;
}
:host ::ng-deep .k-button-flat-primary {
  color: #6eafd3 !important;
}
.enquiry-details-listview--button-container {
  background: var(--colors-brand-white, #fff);
  box-shadow: 0px 4px 20px 0px rgba(80, 86, 92, 0.15);
  padding: 1rem;
}
.enquiry-details-listview--kendo-card-mode-contact {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.logout--icon{
  margin: 0.5rem 0.5rem 0rem 0rem;
}