.app-widget-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1.75rem;
}

.app-widget-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.75rem;
  width: 100px;
  height: 100px;
  border-radius: 0.75rem;
  background-color: #E5F2FF;
  transition: background-color 0.3s ease-in-out;
}

@media (min-width: 690px) {
  .app-widget-grid {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .app-widget-option {
    flex: none;
  }
}

.app-widget-label {
  font-size: var(--text-size-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  text-align: center;
}