<div class="Enquiry-Detail-ListView-container"  >

    <div class="Enquiry-Detail-ListView-titlebar">
      <div  class="Enquiry-Detail-ListView--back-img"><img src="assets/enquiry-details-listview-img/back.svg" alt="new"/></div>
      <div  class="Enquiry-Detail-ListView--title">Enquiry Detail List View</div>
      <div  class="Enquiry-Detail-ListView--refresh-icon"><img src="assets/enquiry-details-listview-img/refresh-cw.svg" alt="new"/></div>
    </div>

    <div  class="Enquiry-Detail-ListView--searchbox">
        <kendo-textbox [(ngModel)]="searchTerm" placeholder="Search" class="Enquiry-Detail-ListView--kendo-textbox">
            <ng-template kendoTextBoxPrefixTemplate>
              <img src="assets/enquiry-details-listview-img/search.svg/" alt="new" class="Enquiry-Detail-ListView--search-icon" >
            </ng-template>
        </kendo-textbox>
    </div>
   


    <div class="Enquiry-Detail-ListView--sub-title">Contact Details</div>

  

    <div  *ngFor="let a of filteredCards()" class="Enquiry-Detail-ListView--cards"  >

        <kendo-card class="Enquiry-Detail-ListView--kendo-card">
            <div class="Enquiry-Detail-ListView--kendo-card-header">
                <div class="Enquiry-Detail-ListView--kendo-card-number">{{a.number}}</div>
                <div ><img src="assets/enquiry-details-listview-img/edit.svg" alt="new"/></div>
            </div>

         <div class="Enquiry-Detail-ListView--kendo-splitter"><kendo-splitter orientation="horizontal"  ></kendo-splitter></div>   

           <div class="Enquiry-Detail-ListView--kendo-card-content">
               <div class="Enquiry-Detail-ListView--kendo-card-sold-details">
                  <div class="Enquiry-Detail-ListView--kendo-card-sub-title">Sold to Contract</div>
                  <div class="Enquiry-Detail-ListView--kendo-card-sold">{{a.solddetails}}</div>
                </div>
            <div class="Enquiry-Detail-ListView--vertical-splitter">
                <kendo-splitter orientation="vertical"class="Enquiry-Detail-ListView--splitter"></kendo-splitter></div>
            <div class="Enquiry-Detail-ListView--kendo-card-sold-details">
                    <div class="Enquiry-Detail-ListView--kendo-card-sub-title">Sold to site</div>
                    <div class="Enquiry-Detail-ListView--kendo-card-sold">{{a.soldsite}}</div>
                </div>
           </div>

           
           <div class="Enquiry-Detail-ListView--information-outline-card">
            <div><img src="assets/enquiry-details-listview-img/error.svg" alt="new"/></div>
            <div class="Enquiry-Detail-ListView--information">Know more about Region and Sold to LE</div>
           </div>

        </kendo-card>
        
      
    
    </div>

      <div class="Enquiry-Detail-ListView--kendo-pager">
               <kendo-datapager class="Enquiry-Detail-ListView--kendo-datapager"
               #pager
               [total]="20"
               [pageSize]="pageSize"
               [skip]="skip"
              (pageChange)="onPageChange($event)">
             </kendo-datapager>
      </div>
<!-- 
         <div class="Enquiry-Detail-ListView--button-container">
         <button kendoButton   class="Enquiry-Detail-ListView--button-cancel" >Cancel</button>
         <button kendoButton   class="Enquiry-Detail-ListView--button-save"> Continue</button>
          </div> -->
          
</div>

