<!-- <div class="dashboard-landingPage--container">
  <div class="dashboard-landingPage--flex-container">
    <div class="dashboard-landingPage--title">Landing Page</div>
    <kendo-button class="dashboard-landingPage--viewall" [style.Color]="buttonClicked ? 'green' : 'gray'" (click)="onButtonClick()"> View All</kendo-button>
  </div>
  <div class="dashboard-landingPage--blur-effect">Coming Soon...</div>
   <div *ngFor="let a of landingPageCard" style="filter: blur(2px);">
    <kendo-card  class="dashboard-landingPage-card--container">
      <div class="dashboard-landingPage--flex-container">
        <div class="dashboard-landingPage-text--container">
          <div class="dashboard-landingPage-text--year">{{a.text1}}</div>
          <div class="dashboard-landingPage-text--price">{{a.text2}}</div>
        </div>
        <div class="dashboard-landingPage-image--container"><img src="assets/{{a.image}}.svg" alt=""/></div>
      </div>
    </kendo-card>
   </div>
 </div> -->
<div class="dashboard-landingPage--container">
  <div class="dashboard-landingPage--title">Dashboard</div>
  <kendo-card class="sales-card">
    <div class="sales-card-text-content">
      <p class="sales-card--title">We are Coming Soon. Stay In Touch</p>
      <p class="sales-card--subtitle">Know more</p>
    </div>
    <div>
      <img
        src="../../../../../assets/content/images/dashboard-images/landing-page--sales-logo.svg"
        alt="sales-logo" />
    </div>
  </kendo-card>
</div>
