<div class="app-locked--container">
    <div class="app-screen--header">
      Survey Details
    </div>
</div>

<div class="app-kendo-form--container"
    [formGroup]="surveyDetails"
    *ngIf="!showAPILoader">
    <kendo-formfield>
        <div class="app-kendo--content">
          <kendo-label class="app-kendo--label app-kendo--label-horizontal" [for]="contactName">
            Customer contact
          </kendo-label>
          <kendo-dropdownlist
            class="app-kendo--dropdownlist"
            formControlName="contactName"
            #contactName
            [data]="dependantComboDataForContactName"
            textField="comboName"
            valueField="comboId"
            [valuePrimitive]="true"
            required>
          </kendo-dropdownlist>
        </div>
        <kendo-formerror class="app-kendo--error-msg">
            Customer contact name is required
        </kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <div class="app-kendo--content">
          <kendo-label class="app-kendo--label app-kendo--label-horizontal" [for]="contactEmail">
            Email
          </kendo-label>
          <kendo-textbox
            class="app-kendo--dropdownlist"
            formControlName="contactEmail"
            #contactEmail>
          </kendo-textbox>
        </div>
        <kendo-formerror class="app-kendo--error-msg">
          {{ EmailError }}
        </kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <div class="app-kendo--content">
          <div class="app-kendo--content-horizontal">
              <kendo-checkbox class="app-kendo--checkbox"
                  formControlName="contactConfirmCheckbox"  
                  #contactConfirmCheckbox
                  required>
              </kendo-checkbox>
              <kendo-label class="app-kendo--label app-kendo--label-horizontal" [for]="contactConfirmCheckbox">
                I agree that above mentioned contact name and email is correct to send customer satisfaction survey
            </kendo-label>
          </div>
        </div>
        <kendo-formerror class="app-kendo--error-msg">
          Contact confirmation is required
        </kendo-formerror>
    </kendo-formfield>
</div>

<div class="app-screen--loader" *ngIf="showAPILoader">
    <kendo-loader
      type="converging-spinner"
      themeColor="info"
      size="medium"></kendo-loader>
    <div>Loading survey details....</div>
</div>