<div>
  <div class="enquiry-description--header">
    Enquiry Description
    <div class="enquiry-description--header-tag"></div>
  </div>
  <div class="enquiry-description--container" [formGroup]="enquiryDescription">
    <kendo-formfield>
    <div class="enquiry-description--content">
      <kendo-label
        class="enquiry-description--label"
        [for]="enterdescription"
        text="Enter Description"></kendo-label>
      <kendo-textarea
        class="enquiry-description--textarea"
        placeholder="Type  your message here.."
        formControlName="enterDescription"
        #enterdescription
        [rows]="6"
        resizable="vertical" required></kendo-textarea>
    </div>
    <kendo-formerror class="enquiry-description--error-msg">Enter description is required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
    <div class="enquiry-description--content">
      <kendo-label class="enquiry-description--label" [for]="attachment">Attachment</kendo-label>
      <kendo-fileselect
        class="enquiry-description--fileupload"
        formControlName="attachment"
        #attachment></kendo-fileselect>
    </div>
    <kendo-formerror class="enquiry-description--error-msg">Attachment is required</kendo-formerror>
  </kendo-formfield>
  </div>
</div>
