@import './assets/css/text.scss';
@import './assets/css/sizes.scss';
@import url('./assets//css/colors.scss');

// styles.scss
$kendo-color-primary: #6eafd3;
@import 'node_modules/@progress/kendo-theme-default/scss/all.scss';

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'lato';
}
.k-stepper .k-step-label .k-step-text {
  text-align: center;
  font-family: Arial;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem; /* 120% */
  letter-spacing: 0.0375rem;
  text-transform: capitalize;
  overflow: auto;
  text-wrap: wrap;
}

.k-stepper .k-step-current .k-step-indicator,
.k-stepper .k-step-done .k-step-indicator,
.k-progressbar .k-selected,
.k-stepper .k-step-done:hover .k-step-indicator,
.k-stepper .k-step-current:hover .k-step-indicator {
  border-color: var(--terinary-color);
  color: white;
  background-color: var(--terinary-color);
}

.k-progress-status-wrap .k-progress-end,
.k-progressbar .k-progressbar-horizontal {
    border: none !important;
    background: none !important;
    color: white;
    background-color: white;
}

.app-navigation-main--container {
  display: flex;
  padding: 0.25rem;
  align-items: center;
  background: linear-gradient(270deg, #327790 0%, #49AFCD 33.33%, #89BA82 67.19%);
}
.app-navigation--header {
  color: white;
  font-family: Arial;
  font-size: var(--text-size-3);
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: 1.75rem;
  flex: 1 0 0;
}
.app-navigation-reset--image {
  padding-right: 0.5rem;
}
.app-screen--content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.app-screen--header {
  color: #FFFFFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: 1.75rem;
  flex: 1 0 0;
  margin: 0rem 0rem 0rem 0rem;
  margin-bottom: 1rem;
  padding:0.5rem;
  padding-left: 1rem;
  background-color: rgb(16, 47, 63);
}
.app-screen--header-tag {
  max-width: 2.5rem;
  min-height: 0.1875rem;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  background: #5cb5c1;
}
.app-screen--loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 0.5rem;
}

//Enquiry Kendo Card Styles
.app-enquiry-details-listview--vertical-splitter {
  margin-right: 1rem;
}
.app-enquiry-details-listview--splitter {
  height: 40px;
  width: 0%;
}
.app-enquiry-details-listview--kendo-pager {
  margin: 0 1rem;
}
.app-enquiry-details-listview--kendo-datapager {
  margin-left: 3rem;
  color: #6eafd3;
  border: 0px;
  background-color: white;
}
.app-enquiry-details-listview--searchbox {
  margin: 0 1rem;
}
.app-enquiry-details-listview--kendo-textbox {
  border-radius: 19.5px;
  background: var(--neutral-4, #f2f2f2);
  color: var(--neutral-1, #343434);
  font-family: Arial;
  font-size: var(--text-size-1);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 24px; /* 150% */
}
.app-enquiry-details-listview--search-icon {
  margin: 0 6px 0 8px;
}
.app-enquiry-details-listview--sub-title {
  color: var(--primary-black, #1f1f1f);
  font-family: Arial;
  font-size: var(--text-size-2);
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: normal;
  margin: 1rem 1rem 1rem 1rem;
}
.app-enquiry-details-listview--cards {
  margin: 1rem;
}
.app-enquiry-details-listview--kendo-card {
  border-radius: 20px;
  background: var(--colors-brand-white, #fff);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
  width: 100% !important;
}
.app-enquiry-details-listview--kendo-card-header {
  display: flex;
  margin: 0.7rem 1rem;
  margin-bottom: 0.2rem;
}
.app-enquiry-details-listview--kendo-card-content {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  gap: 0.313rem;
}
.app-enquiry-details-listview--kendo-card-number {
  color: var(--primary-color);
  font-family: Arial;
  font-size: var(--text-size-2);
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: normal;
  flex: 1 0 0;
}
.app-enquiry-details-listview--kendo-splitter {
  margin: 0 1rem;
}
.app-enquiry-details-listview--kendo-card-sold-details {
  display: flex;
  gap: 1rem;
}
.app-enquiry-details-listview--kendo-card-sub-title {
  color: var(--body-grey, #69727b);
  font-family: Arial;
  font-size: 10px;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: normal;
  flex-basis: 30%;
}
.app-enquiry-details-listview--kendo-card-sold {
  color: #383838;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: normal;
  flex-basis: 70%;
}
.app-enquiry-details-listview--information-outline-card {
  border-radius: 4px;
  background: rgba(92, 181, 193, 0.12);
  margin: 0 1rem 1rem 1rem;
  display: flex;
  padding: 4px 0px 0px 4px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.35rem;
}
.app-enquiry-details-listview--information {
  border-radius: 6px;
  padding: 0.15rem 0 0 0;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  margin-left: 4px;
}


.app-comments--container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0.5rem;
  margin-top: 0rem;
  margin-bottom: 0.25rem;
  gap: 1rem;
}
.app-comments--content {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.app-comments--label {
  display: flex;
  margin: -0.1rem;
  color: var(--colors-brand-black, #1C1B1B);
  font-size: var(--text-size-01);
  font-family: Arial;
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: normal;
}
.app-comments--grid {
  display: flex;
  margin: -0.1rem;
  margin-bottom: 0;
  color: white;
  background-color: #5cb5c1;
  font-size: var(--text-size-01);
  padding: 0.5rem;
  font-style: normal;
  font-weight: var(--font-weight-bolder);
  line-height: 150%;
  letter-spacing: 0.00438rem;
}
.app-comments--textarea {
  width: 100%;
  height: 7.20094rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
  border: 1px solid #5cb5c1;
}
.app-comments--error-msg {
  font-size: var(--text-size-02);
  font-style: normal;
  font-family: Arial;
}

.app--fileupload{
  width: 100%;
}
.app-attachment-files{
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  border: solid #EBEBEB 0.5px;
  box-sizing: border-box;
}
.app-screen--footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.app-cancel--button {
  width: 100%;
  min-height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #6eafd3;
  color: #6eafd3;
  background-color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0175rem;
}
.app-save--button {
  width: 100%;
  min-height: 3rem;
  border-radius: 0.5rem;
  background: #6eafd3;
  border: 1px solid #fff;
  box-shadow: 0px 4px 20px 0px rgba(191, 191, 191, 0.25);
  color: var(--colors-brand-white, #fff);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0175rem;
}
.app-reject-button{
  background-color: rgb(221, 53, 53);
}
.app-approval-button{
  background-color: rgb(92, 184, 92);
}