@import './assets/css/text.scss';
@import './assets/css/sizes.scss';
@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'lato';
}
