<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url="^(?!.*\.(js|css|png|jpg|jpeg|gif|svg|webp|woff|woff2|eot|ttf|otf|ico|json|xml|map)).*$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
