<div class="app-locked--container" *ngIf="!showAPILoader">
  <div class="app-screen--info-header">
    <div class="app-screen--info-header-left">
      Field Visit
    </div>
    <div class="app-screen--info-header-right" (click)="onBackClickHandle()">
      <img src="assets/content/images/backward.svg" />
      <span>Back</span>
    </div>
  </div>
</div>

<div class="app-scrollable--container" *ngIf="!showAPILoader">
  <div class="app-screen--content">
    <div class="app-kendo-form--container">
      <form class="k-form k-form-md" [formGroup]="callFieldVisitForm">
        <kendo-formfield>
          <div class="app-kendo--content">
            <kendo-label
              class="app-kendo--label"
              [for]="fieldVisitRemarks"
              >Remarks</kendo-label>
            <kendo-textarea
              class="app-kendo--textarea"
              placeholder="Type your message here.."
              formControlName="fieldVisitRemarks"
              #fieldVisitRemarks
              [rows]="6"
              resizable="vertical" required></kendo-textarea>
          </div>
          <kendo-formerror class="app-kendo--error-msg">Field visit remarks is required</kendo-formerror>
        </kendo-formfield>
      </form>
    </div>
    <div class="app-screen--footer">
      <button
        kendoButton
        class="app-save--button"
        *ngIf="isEditable"
        (click)="submit()">
        Submit
      </button>
      <button
        kendobutton
        *ngIf="isEditable"
        class="app-cancel--button"
        (click)="onBackClickHandle()">
        Cancel
      </button>
    </div>
  </div>
</div>

<div class="app-screen--loader" *ngIf="showAPILoader">
  <kendo-loader
    type="converging-spinner"
    themeColor="info"
    size="medium"></kendo-loader>
  <div>{{ loaderMessage }}</div>
</div>   
