<div class="forgotpassword-page--main-container">

  <kendo-card class="forgotpassword-page--kendo-card">

      <div class="forgotpassword-page--logo-img">  <img src="assets/login-images/Group-img.svg"  alt="new"/></div>
       <div class="forgotpassword-page--title">Forgot Password</div>
  
    <div class="forgotpassword-page--form-container">
      <form [formGroup]="loginForm" class="forgotpassword-page--login-form">
        <div  class="forgotpassword-page--formfield">

          <div class="forgotpassword-page--formfield-user">
              <kendo-formfield > 
                  <kendo-textbox class="forgotpassword-page--textbox"
                                  formControlName="createpassword"
                                 #createpassword
                                  required
                                  type="password"
                                  placeholder="New Password">
                     <ng-template kendoTextBoxPrefixTemplate>
                        <img src="assets/login-images/password.svg/" alt="new" class="forgotpassword-page--textbox-img">
                     </ng-template></kendo-textbox>
    
                  <kendo-formerror class="forgotpassword-page-kendo-form-error" >New Password is required</kendo-formerror>
                </kendo-formfield>
         </div>
    
              <kendo-formfield >
                <kendo-textbox   class="forgotpassword-page--textbox"
                                   placeholder="Confirm New Password" 
                                   formControlName="confirmpassword"
                                   type="password"
                                  #confirmpassword
                                   required >
                                  <ng-template kendoTextBoxPrefixTemplate >
                                   <img src="assets/login-images/password.svg/" alt="new" class="forgotpassword-page--textbox-img">
                                  </ng-template>
                 </kendo-textbox>
                   <kendo-formerror class="forgotpassword-page-kendo-form-error" >Password is required</kendo-formerror>
              </kendo-formfield>
              <div ><a routerLink="/login" class="forgotpassword-page--forgot-link">Back</a></div>
          </div>
    
          <div> 
            <button kendoButton class="forgotpassword-page--signin-button"   [disabled]="loginForm.invalid" (click)="onSubmit()" >Sign In</button>
          </div>

      </form>
    </div>
   </kendo-card>
</div>
