<div class="forgotpassword-page--main-container">

  <kendo-card class="forgotpassword-page--kendo-card">

    <div class="forgotpassword-page--logo-img">  <img src="assets/content/images/login-images/Group-img.svg" alt="new" /></div>
    <div class="forgotpassword-page--title">Set New Password</div>

    <div class="forgotpassword-page--form-container">
      <form [formGroup]="loginForm" class="forgotpassword-page--login-form">
        <div class="forgotpassword-page--formfield">
          <div class="forgotpassword-page--formfield-user">
            <kendo-formfield>
              <kendo-textbox #newPassword
                             placeholder="New Password"
                             [clearButton]="true"
                             class="forgotpassword-page--textbox"
                             [type]="newPasswordInputType"
                             formControlName="createpassword"
                             (keyup)="onPasswordKeyup($event.target)">
                             <!-- kendoPopoverAnchor
                             [popover]="popover"      
                             #container="kendoPopoverAnchor"
                             #anchor="kendoPopoverAnchor"
                             showOn="click"> -->

                <ng-template kendoTextBoxSuffixTemplate>
                  <button kendoButton
                          type="button"
                          look="clear"
                          [svgIcon]="eyeIcon"
                          (click)="toggleVisibility('newPassword')"></button>
                </ng-template>
                <ng-template kendoTextBoxPrefixTemplate>
                  <img src="assets/content/images/login-images/password.svg" alt="new" class="forgotpassword-page--textbox-img">
                  <div></div>
                </ng-template>
              </kendo-textbox>
              <kendo-formerror class="app-kendo--error-msg">
                New Password is required
              </kendo-formerror>
            </kendo-formfield>
            <!-- <kendo-popover
                class="kendo-popover"
                #popover
                position="bottom"
                [callout]="true">
              <ng-template kendoPopoverBodyTemplate let-anchor>
                <h2>Password must meet the following requirements:</h2>
                <ul width="100%">
                    <li [ngClass]="{'invalid': !isCapitalValid, 'valid': isCapitalValid}">
                      At least <strong>one capital letter</strong>
                    </li>
                    <li [ngClass]="{'invalid': !isNumberValid, 'valid': isNumberValid}">
                      At least <strong>one number</strong>
                    </li>
                    <li [ngClass]="{'invalid': !isLengthValid, 'valid': isLengthValid}">
                      Be at least <strong>5 characters</strong>
                    </li>
                </ul>
              </ng-template>
            </kendo-popover> -->
          </div>
          <kendo-formfield>
            <kendo-textbox #confirmPassword
                           placeholder="Confirm New Password"
                           [clearButton]="true" class="forgotpassword-page--textbox"
                           [type]="confirmPasswordInputType"
                           formControlName="confirmpassword"
                           (keyup)="onConfirmPasswordKeyup($event.target)">

              <ng-template kendoTextBoxSuffixTemplate>
                <button kendoButton
                        type="button"
                        look="clear"
                        [svgIcon]="eyeIcon"
                        (click)="toggleVisibility('confirmPassword')"></button>
              </ng-template>
              <ng-template kendoTextBoxPrefixTemplate>
                <img src="assets/content/images/login-images/password.svg" alt="new" class="forgotpassword-page--textbox-img">
                <div></div>
              </ng-template>
            </kendo-textbox>
            <kendo-formerror class="app-kendo--error-msg">
              Password should match the new password
            </kendo-formerror>

          </kendo-formfield>
        </div>
        <div>
          <div class="forgotpassword-page--validation">
            <p *ngIf="isPasswordNotMatching" class="invalid" style="color:red">
              <img class="forgotpassword-page--validation-img"
              src="assets/content/images/invalid.svg"
              alt="new"/>
              Passwords do not match !!
            </p>
              <p [ngClass]="{'invalid': !isCapitalValid, 'valid': isCapitalValid}">
                <img *ngIf="isCapitalValid" class="forgotpassword-page--validation-img"
                src="assets/content/images/check.svg"
                alt="new"/>
                <img *ngIf="!isCapitalValid" class="forgotpassword-page--validation-img"
                src="assets/content/images/uncheck.svg"
                alt="new"/>
                At least one capital letter
              </p>
              <p [ngClass]="{'invalid': !isNumberValid, 'valid': isNumberValid}">
                <img *ngIf="isNumberValid" class="forgotpassword-page--validation-img"
                src="assets/content/images/check.svg"
                alt="new"/>
                <img *ngIf="!isNumberValid" class="forgotpassword-page--validation-img"
                src="assets/content/images/uncheck.svg"
                alt="new"/>
                At least one number
              </p>
              <p [ngClass]="{'invalid': !isLengthValid, 'valid': isLengthValid}">
                <img *ngIf="isLengthValid" class="forgotpassword-page--validation-img"
                src="assets/content/images/check.svg"
                alt="new"/>
                <img *ngIf="!isLengthValid" class="forgotpassword-page--validation-img"
                src="assets/content/images/uncheck.svg"
                alt="new"/>
                Be at least 5 characters
              </p>
          </div>
          <button kendoButton
              class="forgotpassword-page--signin-button"
              [disabled]="loginForm.invalid"
              (click)="onSubmit()">
            Change Password
          </button>
        </div>
      </form>
    </div>
    <div>
      <a routerLink="/login" class="forgotpassword-page--forgot-link">
        <kendo-svg-icon [icon]="arrowLeftIcon" size="medium"></kendo-svg-icon>
        Back to Login Page
      </a>
    </div>
  </kendo-card>

</div>
