<div>
  <div class="worklist-card--header">
    <div class="worklist-card--back-button" (click)="onBackClickHandle()">
      <img src="assets/worklist-card--back-button.svg" alt="" />
    </div>
    <div class="worklist-card--title">Worklist</div>
    <div class="worklist-card--refresh">
      <img src="assets/worklist-card--refresh.svg" alt="" />
    </div>
  </div>
  <div class="worklist-card--textbox-container">
    <kendo-textbox class="worklist-card--textbox" placeholder="Search">
      <ng-template kendoTextBoxPrefixTemplate>
        <img
          src="assets/worklist-card--search.svg"
          alt=""
          class="worklist-card--search" /> </ng-template
    ></kendo-textbox>
  </div>
  <div
    *ngFor="let a of customerCardsList"
    class="worklist-card--kendo-card-container">
    <kendo-card class="worklist-card--kendo-card">
      <div class="worklist-card--kendo-customer-details">
        <kendo-avatar class="worklist-card--kendo-avatar"
          ><img *ngIf="a" src="assets/{{ a.avatar }} " alt=""
        /></kendo-avatar>
        <div class="worklist-card--customer-id">{{ a.customerid }}</div>
        <div class="worklist-card--card-button">
          <div class="worklist-card--card-button-text">
            {{ a.applicationcode }}
          </div>
        </div>
      </div>
      <div class="worklist-card--company-name">{{ a.companyname }}</div>
      <div style="margin: 0px 1rem 0px 1rem">
        <div class="worklist-card-seperator"></div>
      </div>
      <div class="worklist-card--customer-name">{{ a.customername }}</div>
    </kendo-card>
  </div>
  <div class="worklist-card--buttons">
    <button kendoButton class="worklist-card--button-cancel" [disabled]="true">
      Cancel
    </button>
    <button kendoButton class="worklist-card--button-save" [disabled]="true">
      Save
    </button>
  </div>
</div>
