<div class="contact-details-header">Contact Details<div class="contact-details-header-tag"></div></div>
<div class="contact-details-container">
<div class="contact-details-content">
    <kendo-label class="contact-details-label">Sold To Contact</kendo-label>
    <kendo-dropdownlist class="contact-details-kendo-dropdownlist"  [data]="areaList"></kendo-dropdownlist>
</div>
<div class="contact-details-content">
    <kendo-label class="contact-details-label" >Sold To Site</kendo-label>
    <kendo-dropdownlist class="contact-details-kendo-dropdownlist"  [data]="area"></kendo-dropdownlist>
</div>
<kendo-formfield>
  <div>
  <kendo-label class="contact-details-label">Deal Value</kendo-label>
  <kendo-textbox class="contact-details-kendo-textbox"></kendo-textbox>
</div>
</kendo-formfield>
  <div class="contact-details-content">
    <kendo-label class="contact-details-label">Region</kendo-label>
    <kendo-dropdownlist class="contact-details-kendo-dropdownlist" [data]="list"></kendo-dropdownlist>
</div>
</div>